manifest {
  name = 'liver-disease-single-cell-target-discovery'
  author = 'Caffeinated-Code'
  description = 'Nextflow scaffold for liver fibrosis, MASH, and cirrhosis single-cell target discovery'
  mainScript = 'main.nf'
  version = '0.1.0'
}

params {
  input = "${projectDir}/assets/demo_samplesheet.csv"
  outdir = "${projectDir}/../nf-results"
}

profiles {
  local {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
    process.container = 'liver-fibrosis-single-cell:local'
  }

  aws {
    process.executor = 'awsbatch'
    process.queue = System.getenv('AWS_BATCH_QUEUE')
    aws.region = System.getenv('AWS_REGION') ?: 'us-west-2'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    workDir = System.getenv('NXF_WORK') ?: 's3://replace-me/liver-fibrosis-single-cell/work'
    process.container = System.getenv('PIPELINE_IMAGE') ?: 'replace-me.dkr.ecr.us-west-2.amazonaws.com/liver-fibrosis-single-cell:latest'
  }
}

process {
  errorStrategy = 'retry'
  maxRetries = 1
  withName:RUN_SEURAT_DISCOVERY {
    cpus = 8
    memory = '48 GB'
    time = '12h'
  }
  withName:PREPARE_VALIDATION {
    cpus = 4
    memory = '16 GB'
    time = '6h'
  }
}
